body {
    background-color: rgb(241, 179, 179);
    color:rgb(110, 60, 25);
    font-size: 25px;
}
h1{
    color:rgb(62, 38, 20);
}
.head{
    text-align: center;
}
.kaitlyns-children-head{
    font-size: 40px;
}
.children{
    text-align: center;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    background-color: beige;
}
.kaitlyns-hobbies-head{
    font-size: 40px;
}
.hobby{
    text-align: center;
    margin: 5%;
    background-color: beige;
}
img {
    max-width: 40%;
    height: auto;
}
.kaitlyns-music-taste-head{
    font-size: 40px;
}
.music{
    text-align: center;
    background-color: beige;
    margin: 5%
}
img {
    max-width: 50%;
    height: auto;
}   


