body {
    background-color: bisque;
    color:rgb(110, 60, 25);
    font-size: 25px;
}
h1{
    color:rgb(62, 38, 20);
}
.head{
    text-align: center;
}
.children{
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    background-color: beige;
}
span{
    text-align: left;
}
